@import url('mocha.css');

* {
    font-size:14px;
    font-family: "SFProDisplay Nerd Font";
}
window#waybar {
	background:unset
}
.modules-left {
    padding:7px;
    margin: 4px 4px 4px 4px;
    border-radius:10px;
    background: transparent;
}
/*.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6); 
} */
.modules-right {
    padding:7px;
    margin: 4px 4px 4px 4px;
    border-radius:10px;
    background: transparent; 
}
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover, #custom-power, #pulseaudio:hover, #bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease-in-out;
    color:@subtext1;
}
#custom-notification, custom-power {
    padding: 0px 5px;
    transition: all .3s ease-in-out;
    color:@text;
}
#clock{
    padding: 0px 5px;
    color:@text;
    transition: all .3s ease-in-out;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease-in-out;
    color:@text;

}
#workspaces {
    padding: 0px 4px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: @subtext1;
    transition: all 0.2s ease-in-out;
}
#workspaces button:hover {
    color: alpha(@text, .5);
    border: none;
    text-shadow: alpha(@overlay2, 1)
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: @rosewater;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: all 0.3s ease-in-out;
}
#workspaces button.empty {
    color: alpha(@text, .5);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: alpha(@text, .5);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.3s ease-in-out;
}
#workspaces button.empty.active {
    color: @rosewater;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: all 0.3s ease-in-out;
}
#workspaces button.urgent {
    color: @green;
    border: none;
    transition: all 0.3s ease-in-out;
}

#battery, #network, #bluetooth{
    padding: 0px 5px;
    transition: all .3s ease-in-out;
    color:@text;
}
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease-in-out; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature, #pulseaudio {
    padding: 0px 5px;
    transition: all .3s ease-in-out; 
    color: @text;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 3px;
    transition: all .3s ease-in-out; 
    color: @text;

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease-in-out; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease-in-out; 
}
