
* {
	all: unset;	
    font-family: JetBrainsMono;
    font-size: 10px;
    font-weight: bold;
  	margin-top: 1px;
  	margin-bottom: 1px;
}


window#waybar {
    background-color: transparent ;
}


tooltip label {
    color: @foreground;
}


#custom-logo,
#clock,
#window,
#workspaces button,
#tray,
#language,
#custom-micro,
#custom-date,
#custom-music.
#custom-music1,
#custom-mako,
#custom-cava,
#backlight,
#battery,
#battery.time,
#network,
#network.disconnected,
#network.disabled,
#disk,
#network.linked,
#network.ethernet,
#network.wifi,
#custom-swaync,
#custom-powermenu,
#pulseaudio {
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 3px;
	font-size: 13px;
	background-color: #181825 ;
    color: #cdd6f4 ;
}


#custom-logo {
	margin-left: 7px;
    padding-left: 13px;
    padding-right: 13px;
}


#language {
	color: #1e1e2e ;
	background-color: #f5e0dc ;
	margin-right: 7px;
    padding-left: 13px;
    padding-right: 14px;
}

#clock {	
	background: #1e1e2e;
    background: linear-gradient(118deg, rgba(205,214,244,1) 5%, rgba(245,194,231,1) 5%, rgba(245,194,231,1) 20%, rgba(205,214,244,1) 20%, rgba(205,214,244,1) 40%, rgba(245,194,231,1) 40%, rgba(245,194,231,1) 60%, rgba(205,214,244,1) 60%, rgba(205,214,244,1) 80%, rgba(245,194,231,1) 80%, rgba(245,194,231,1) 95%, rgba(205,214,244,1) 95%); 

    background-size: 200% 300%;

    animation: gradient_f_nh 4s linear infinite;
    color: #fff ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    
    font-size: 15px;
    padding-top: 5px;
    padding-right: 21px;
    font-weight: bolder;
    padding-left: 20px;
}  

#custom-date {
	color: #1e1e2e ;
	background-color: #89b4fa ; 
}

#pulseaudio {
    background: #1e1e2e;
    background: linear-gradient(118deg, rgba(205,214,244,1) 5%, #a6e3a1 5%, #a6e3a1 20%, rgba(205,214,244,1) 20%, rgba(205,214,244,1) 40%, #a6e3a1 40%, #a6e3a1 60%, rgba(205,214,244,1) 60%, rgba(205,214,244,1) 80%, #a6e3a1 80%, #a6e3a1 95%, rgba(205,214,244,1) 95%); 
    background-size: 200% 300%;
    animation: gradient_f_nh 4s linear infinite;
    color: #fff ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

#network.wifi,
#network {
	color: #1e1e2e ;
	background-color: #f9e2af ;
    background: #1e1e2e;
    background: linear-gradient(118deg, rgba(205,214,244,1) 5%, #f9e2af 5%, #f9e2af 20%, rgba(205,214,244,1) 20%, rgba(205,214,244,1) 40%, #f9e2af 40%, #f9e2af 60%, rgba(205,214,244,1) 60%, rgba(205,214,244,1) 80%, #f9e2af 80%, #f9e2af 95%, rgba(205,214,244,1) 95%); 
    background-size: 200% 300%;
    animation: gradient_f_nh 4s linear infinite;
    color: #fff ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
}

#workspaces button:hover,
#workspaces button.active {
    background-color: #bac2de ;
    color: #1e1e2e  ;
    border-radius: 7px;
	background: rgb(203,166,247);
    background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button {
	padding-top: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 6px;
	transition: 0.3s;
}

#workspaces button.urgent {

    background-color: #eb4d4b;
}



